<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="../static/reset.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
</head> 
 
<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1 class="greet">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div>
        <h3 class="greet">Latest Mars News</h3>
        <h5>{{ mars_data.news_title }}</h5>
        <p>{{ mars_data.news_p }}</p>
    </div>
    <br>
    <div class="row"> 
        <div class="col-6">
            <h3 class="greet">Featured Mars Image</h3>
            <img src="{{ mars_data.featured_image_url }}" class="img-fluid" alt="Featured">
        </div>
        <div class="col-6">
            <h4 class="greet">Mars Facts</h4>
            <table class="table table-hover">
                <thead>
                  <tr class="h5">
                    {% for header in mars_data.facts_headers %}
                    <th scope="col">{{ header }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in mars_data.facts_rows %}
                  <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <br>
    <h3 class="greet text-center">Mars Hemispheres</h3>
    <hr class="horizontal">
    <div class="row">        
        {% for x in mars_data.hemisphere_image_urls %}
        <div class="card col-3">
            <img src="{{ x.img_url }}" class="card-img-top" alt="Hemispheres">
            <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</body>

</html>
